@font-face {
  font-family: "iconfont"; /* Project id 4612268 */
  src: url('/assets/fonts/iconfont.woff2?t=1720264940590') format('woff2'),
       url('/assets/fonts/iconfont.woff?t=1720264940590') format('woff'),
       url('/assets/fonts/iconfont.ttf?t=1720264940590') format('truetype');
}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-dianhua:before {
  content: "\e694";
}

